
.counter{
    margin: 100px auto;
    width: 300px;
   
}

#clock{
    width: 200px;
    height: 30px;
   
    padding: 80px ;
    background-color: black;
    font-size: 30px;
    color:white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.wat{
    width: 300px;
    height: 80px;
    padding: 20px;
    align-items: center;
    background-color: black;
    color:#fff;
    border-radius: 10px;
    margin:20px 10px ;
}

#display {
    font-size: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
}
#buttons {
    margin-top: 10px;
}
#buttons button {
    font-size: 16px;
    margin-right: 5px;
}